*,
::before,
::after {
  box-sizing: border-box;
}

.main__container {
  display: flex;
}

.container__sedans {
  background-color: rgb(255, 140, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.article__h1 {
  color: rgb(255, 255, 255);
}

.article__p {
  color: rgb(255, 255, 255);
}

.article__button {
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 140, 0);
}
